transformers
sentence_transformers
typer
pandas
numpy==1.22.1
PyMUPDF
torch
layoutparser
layoutparser[layoutmodels]
layoutparser[ocr]
spacy==3.2.1
spacy-transformers
psycopg2
pika
nltk
python-dotenv
pdfminer
pdftotext
Pillow
pdf2image
PyPDF2
